<!DOCTYPE html>
<html lang="zh-cn" ng-app="gpsApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GPS 调试</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootbox.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-bootbox.js"></script>
	<script src="js/socket.io.min.js"></script>
	<script>
		angular.module("gpsApp", ['angular-bootbox']);
	</script>
	<script src="js/devices.js"></script>
</head>
<body ng-cloak ng-controller="devicesCtrl">
	<div class="container">
		<div class="page-header">
			<h1>GPS 调试</h1>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">终端上报概况</div>
			<div class="panel-body">
				<table class="table table-bordered table-condensed">
					<tr class="bg-info">
						<td class="text-center">PSN</td>
						<td class="text-center">最后上报时间</td>
						<td class="text-center">距现在时间</td>
						<td class="text-center">经度</td>
						<td class="text-center">纬度</td>
						<td class="text-center">海拔</td>
						<td class="text-center">速度</td>
						<td class="text-center">方位角</td>
						<td class="text-center"></td>
						<td class="text-center"></td>
					</tr>
					<tr ng-show="devices.length == 0">
						<td colspan="10">无上报信息</td>
					</tr>
					<tr ng-show="show_loading">
						<td colspan="10">正在加载，请稍等...</td>
					</tr>
					<tr ng-repeat="device in devices">
						<td class="text-center">{{device.psn}}</td>
						<td class="text-center">{{device.time}}</td>
						<td class="text-center" ng-class="intervalClass(device)">{{toDHMS(device.interval)}}</td>
						<td class="text-center">{{device.longitude}}</td>
						<td class="text-center">{{device.latitude}}</td>
						<td class="text-center">{{device.altitude}}</td>
						<td class="text-center">{{device.speed}}</td>
						<td class="text-center">{{device.azimuth}}</td>
						<td class="text-center"><a href="/list_dev#?psn={{encodeURI(device.psn)}}" target="_blank">上报记录</a></td>
						<td class="text-center"><a href="/log_dev#?psn={{encodeURI(device.psn)}}" target="_blank">实时日志</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
